// $mdc-theme-primary: #8BBBBB;
// $mdc-theme-secondary: #BBD9D7;
// $mdc-theme-on-primary: #FEFEFF;
// $mdc-theme-on-secondary: #E4EEEF;
// $mdc-theme-on-border: #C4C4C4;

$mdc-theme-primary: #43574B;
$mdc-theme-secondary: #F0E4AA;
$mdc-theme-on-primary: #F0BB6F;
$mdc-theme-on-secondary: #DB8158;
$mdc-theme-on-border: #9E4336;

$mdc-theme-bar-primary: #ffffff;