<div class="surdown-container mdc-text-field mdc-text-field--fullwidth mdc-text-field--textarea " key="editor">
    <textarea class="surdown mdc-text-field__input " key="textarea"></textarea>
    <!-- <label for="textarea" class="mdc-floating-label">Notation editor</label> -->    
</div>  